.view-speakers .view-content
  .item-list
    overflow: hidden

  .item-list ul
    align-content: space-around
    display: flex
    flex-wrap: wrap

  .item-list li
    box-sizing: border-box
    padding: 2%
    text-align: center
    width: 50%

    +breakpoint(460px)
      width: 33.3334%

    +breakpoint(670px)
      width: 25%

    +breakpoint(1024px)
      width: 20%

    +breakpoint(1250px)
      padding: 1%
      width: 16.66667%

  .item-list a
    border-bottom: 0
    display: flex
    flex-direction: column

  .field--type-image
    float: none
    margin: 0
    order: 1

  .field--type-image img
    height: auto
    margin: 0
    max-width: 100%

  .field--name-title
    order: 2
